body {
  margin: 0;
}
#app {
  font-family: 'Open Sans Condensed', sans-serif;
  color: whitesmoke;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px black;
}

/* NavBar Formatting */
#navbar {
  background-color: cadetblue;
  color: whitesmoke;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navText,
#logo {
  margin: 5px;
}

#logo {
  width: 1 rem;
  flex: 2;
  font-family: 'Gloria Hallelujah', cursive;
}
