#app {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}

/* NavBar Formatting */
#navbar {
  background-color: #f93b81;
}

.container {
  display: flex;
  justify-content: flex-end;
  /* margin: 10px; */
  /* justify-items: flex-end; */
  align-items: center;
}

.navText,
#logo {
  margin: 5px;
}

#logo {
  width: 1 rem;
  flex: 2;
  /* font-family: 'Zhi Mang Xing', cursive; */
  font-family: 'Gloria Hallelujah', cursive;
}
